body {
  margin: 0;
}

#app {
  text-align: center;
}

#top {
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
}

#dev-form {
  border: 1px solid black;
  display: inline-block;
  font-size: 1rem;
  margin: 2rem 0;
  text-align: left;
  width: min-content;

  .options {
    .option {
      display: flex;
      >.label {
        display: flex;
        flex-wrap: nowrap;
        padding-right: 1rem;
        user-select: none;
          -webkit-user-select: none;
        width: 100%;
      }
    }
  }

  .section {
    border-bottom: 1px solid black;
    padding: 1rem;

    &#css-options {
      .options {
        #select-none-css {
          margin-bottom: 1rem;
        }
      }
    }

    &#export-options {
      >.options {

        >#export-unsafe-css {
          font-size: .8rem;
          margin-bottom: 1rem;
        }

        >.option {
          &#export-textarea {
            >.input {
              width: 100%;

              >textarea {
                margin-right: 1rem;
                resize: none;
                width: 95%;
              }
            }

            margin-bottom: .5rem;
          }

          &#export-button {
            >.input {
              text-align: center;
              width: 100%;
            }
          }

        }
      }
    }

    &#global-options {
      >.options>.option>.input>input {
        &[type=number] {
          width: 5rem;
        }
        &[type=text] {
          width: 5rem;
        }
      }
    }

    .title {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    >.options {
      >.option {

        &.expanded {
          border-top: 1px solid black;
        }

        &:not(.expanded) {
          >.label {
            border-top: 1px dotted black;
          }
        }

        >.label {
          border-bottom: 1px dotted black;
          &:not(:hover) {
            border-color: transparent;
          }
          &:hover {
            cursor: pointer;
          }
          >.chevron {
            margin-right: .25rem;
          }
        }
      }

      >.expanded-content {
        border-bottom: 1px solid black;
        >.option {
          &:first-child {
            margin-top: 1rem;
          }
        }
        >.subsection {
          border-top: 1px solid black;
          margin-left: 1rem;
          margin-top: .5rem;
          >.label {
            text-decoration: underline;
            font-variant: small-caps;

          }
        }

      }
    }
  }
}

.popup-container {
  position: relative;
  display: inline-block;
  cursor: default;

  .popup-text {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;

    // arrow
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    &.show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    &.hide {
      visibility: visible;
      -webkit-animation: fadeOut 1s forwards;
      animation: fadeOut 1s forwards;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
