.random-css-string {
  display: flex;
  padding: 0.25rem;
  position: relative;

  > div {
    box-sizing: border-box;
    overflow: visible;
    text-align: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.3);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.66);
  }
}

@keyframes skewX {
  from {
    transform: skewX(0deg);
  }

  to {
    transform: skewX(30deg);
  }
}

@keyframes skewY {
  from {
    transform: skewY(0deg);
  }

  to {
    transform: skewY(30deg);
  }
}

@keyframes skewXY {
  from {
    transform: skewX(0deg) skewY(0deg);
  }

  to {
    transform: skewX(30deg) skewY(30deg);
  }
}
