body {
    margin: 0;
}

#app {
    text-align: center;
}

#top {
    background-color: white;
    border-bottom:    1px solid black;
    padding-bottom:   1rem;
    position:         sticky;
    top:              0;
}

#dev-form {
    border:         1px solid black;
    display:        inline-block;
    /*font-family:    'Montserrat Alternates', sans-serif;*/
    /*font-family:    'IBM Plex Mono', monospace;*/
    font-size:      1rem;
	margin:         2rem 0;
	text-align:     left;
}

#dev-form > .section {
    border-bottom: 1px solid black;
    padding:       1rem;
}

#dev-form > .section > .title {
    font-weight:    bold;
    margin-bottom:  1rem;
}

.option {
    display: flex;
}

.subsection:last-child {
    /*background-color: #ebebeb;*/
    border-bottom: 1px dotted black;
}

.subsection .label {
    margin-left: 2rem;
    
}

.subsection .title {
    margin-left: 1rem;
}

.option > .label {
    padding-right: 1rem;
    width: 100%;
}

#select-all-css > div {
    padding-bottom: 1rem;
}

.expandable {
    border-bottom: 1px dotted transparent;
    border-top:    1px dotted transparent;
    cursor:        pointer;
}

.expandable:hover {
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
}

.expandable:after {
    font-size: .75rem;
    padding-left: .25rem;
}

.expandable:not(.expanded):after {
    content: "▼";
}

.expandable .expanded :after {
    content: "▲";
}

.inactive {
    color: gray;
}

.indent {
    margin-left: 1rem;
}

/*.r-range::-moz-range-track {
    background-color: red;
}
.g-range::-moz-range-track {
    background-color: green;
}
.b-range::-moz-range-track {
    background-color: blue;
}*/